beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
future==0.16.0
idna==2.6
inflect==0.2.5
jaraco.itertools==2.1
more-itertools==4.1.0
python-telegram-bot==9.0.0
requests==2.18.4
six==1.11.0
urllib3==1.22
wolframalpha==3.0
xmltodict==0.11.0
